// int
function Bat.new  0
push constant  5
call Memory.alloc 1
pop pointer 0
//do
push constant 0
not
call Screen.setColor 1
pop temp 0
//do
push pointer 0
call Bat.draw 1
pop temp 0
//return
push constant 0
return
// method
function Bat.hide 0
push argument 0
pop pointer 0
//do
push constant 0
call Screen.setColor 1
pop temp 0
//do
push pointer 0
call Bat.draw 1
pop temp 0
//return
push constant 0
return
// method
function Bat.draw 0
push argument 0
pop pointer 0
//do
push argument 0
push this 1
push this 0
push this 0
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
//return
push constant 0
return
// int
function Bat.setDirection 0
push argument 0
pop pointer 0
//let
push argument 1
pop argument 0
//return
push constant 0
return
// method
function Bat.getLeft 0
push argument 0
pop pointer 0
//return
push argument 0
return
